@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


 @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Helvetica Neue LT Pro 23 Ultra Light Extended.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Helvetica Neue LT Pro 83 Heavy Extended Oblique.woff2")
      format("woff2");
  }
  @font-face {
     font-family: 'Roboto', sans-serif;;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
  }

  
}

.custom_img{
  width: 100% !important;
  height:100% !important;
  position: relative !important;
}

.slick-slide {
  padding-left: 10px;
  padding-right: 10px;

}
.header{
  width: 100%;
  height: 150px;
  position:sticky;
  top:0
  
}
.nav{
   width: 100%;
  height: 150px;
  position:sticky;
  top:0
  

}

.nav_items{
 display: block;
 padding: 0 20px;
 line-height: 50px;
}




.slick-next:before {
    /* background-image: url('images/arrow-right.png'); */
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";
} */
.slick-next::before{
  background-color:darkgray;
border-radius: 50%;

}
.slick-prev::before{
  background-color:darkgray;
 border-radius: 50%;
  

}
.slick-dots li button:before {
background-color:#000;
margin-top: 30px;
/* height: 2px;
width: 2px; */
border-radius: 50%;
/* text-indent: -9999px; */
overflow:hidden; 
}

.arrow{
  transform: translateY(0);
 animation-name: arrow;
 animation-duration: 1s;
 animation-fill-mode: forwards;
}
@keyframes arrow{

  0%{
    transform: translateY(0);
  }
   100%{
    transform: translateY(180px);
  }
  
}

.arrow2{
 transform: translateY(-90);
 animation-name: arroww;
 animation-duration: 1s;
 animation-fill-mode: forwards;
}
@keyframes arroww{

  0%{
    transform: translateY(0);
  }
   100%{
    transform: translateY(-180px);
  }
  
}
.arrow_bg{
 
    background: linear-gradient(90deg, #ff0000 0%, #bf0000 100%);
}
.arrowHover{
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
}
/* .tawk-header-background-color{
  background-color: #ff0000!important;
} */